@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Krona+One&family=Montserrat:ital,wght@0,600;1,400&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f2f2f2;
    --cor-terciaria: #41BFB3;
    --cor-quartenaria: #308C83;
    --cor-hoover: #272727;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__texto {
    font-size: 1.5rem;
    font-family:'Dosis', sans-serif;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.apresentacao__links__subtitulo {
    font-size: 1.5rem;
    font-family: 'Krona One', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    color: #f2f2f2;
}

.instagram {
    /* background-color: #41BFB3; */
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 4px groove var(--cor-terciaria);
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montsserat', sans-serif;
}

.github {
    /* background-color: #41BFB3; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border-radius: 8px;
    border: 4px groove var(--cor-terciaria);
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montsserat', sans-serif;
}

.linkedin {
    /* background-color: #41BFB3; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border-radius: 8px;
    border: 4px groove var(--cor-terciaria);
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montsserat', sans-serif;
}

.instagram:hover {
    background-color: var(--cor-hoover);
    border: 6px groove var(--cor-quartenaria);
}

.github:hover {
    background-color: var(--cor-hoover);
    border: 6px groove var(--cor-quartenaria);
}
.linkedin:hover {
    background-color: var(--cor-hoover);
    border: 6px groove var(--cor-quartenaria);
}

.rodape {
    padding: 24px;
    text-align: center;
    background-color: var(--cor-quartenaria);
    color: var(--cor-primaria);
    font: 'Dosis', sans-serif;
    font-size: 1.5rem;
}

.cabecalho {
    padding: 2% 0% 0% 20%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montsserat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-quartenaria);
    text-decoration: none;
}

.curriculo {
    padding: 5% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.curriculo-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.curriculo-conteudo-titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
    color: var(--cor-terciaria);
}

.curriculo-conteudo-texto {
    font-size: 1.5rem;
    font-family:'Dosis', sans-serif;
}

li {
    list-style: none;
}
.img-curriculo {
    width: 40%;
}

.cabecalho__menu__link:hover {
    color: var(--cor-terciaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}